p {
  color: #556f8f;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 150px;
  color: #5a6275;
  padding: 0;
  font-size: 70px;
  margin: 0;
  display: inline;
  margin-bottom: 0;
}

ul {
  list-style: none;
  color: #556f8f;
}

h3 {
  color: #556f8f;
}
.block {
  margin: 30px auto;
  border: 2px solid #7acdf3;
  background: #d9edfd;
  max-width: 600px;
  padding: 0 0 30px 30px;
}

.row-header {
  margin: 0 auto;
  background: #5fa8e1;
  color: white;
  text-align: center;
  width: 600px;
  position: relative;
  right: 32px;
}

.today {
  text-decoration: underline;
}

.tomorrow {
  text-decoration: underline;
}

.days-ahead {
  text-decoration: underline;
}

.city {
  background: #f0f8ff;
  font-size: 15px;
  width: 300px;
  top: 0;
  position: relative;
  right: 0;
  display: inline;
}

.search-button {
  color: white;
  background: #353cf7;
  border: none;
  border-radius: 5px;
  padding: 8px;
  position: relative;
  right: -15px;
  width: 100px;
}

.current-location {
  color: white;
  background: #1cc24b;
  border: none;
  border-radius: 5px;
  padding: 8px;
  position: relative;
  right: -30px;
  width: 100px;
}

.unit {
  display: inline;
  position: relative;
  top: -50px;
  font-weight: bold;
}

.developer {
  font-size: medium;
  display: inline;
}
